:root {
  --primaryFont: 'Roboto', sans-serif;
  --secondaryFont: 'Raleway', sans-serif;
  --activeLinkColor: #2196f3;
  --primaryTextColor: #757575;
  --secondaryTextColor: #212121;
  --whiteTextColor: #ffffff;
  --transitionColor: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transitionBg: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--primaryFont);
  letter-spacing: 0.03em;
  color: var(--primaryTextColor);
  background-color: var(--whiteTextColor);
}

body.modal-open {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
ul,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.icon {
  fill: currentColor;
}

.container {
  padding: 0 15px;
  outline: 2px solid red;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondaryTextColor);
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.logo {
  font-family: var(--secondaryFont);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: #000000;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--color-blue {
  color: var(--activeLinkColor);
}

.logo--color-white {
  color: var(--whiteTextColor);
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.messenger-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.messenger-list__item:not(:last-child) {
  margin-right: 10px;
}

.messenger-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afb1b8;
  -webkit-transition: var(--transitionBg), var(--transitionColor);
  transition: var(--transitionBg), var(--transitionColor);
  border-radius: 50%;
}

.messenger-list__link--footer {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.messenger-list__link--footer:hover, .messenger-list__link--footer:focus {
  background-color: var(--activeLinkColor);
}

.messenger-list__link:hover, .messenger-list__link:focus {
  background-color: var(--activeLinkColor);
  color: var(--whiteTextColor);
}

.subtitle {
  font-weight: 700;
  color: var(--secondaryTextColor);
}

@media screen and (max-width: 767px) {
  .subtitle {
    text-align: center;
  }
}

.button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--whiteTextColor);
  background-color: var(--activeLinkColor);
  border-radius: 4px;
  border-style: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.header {
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .header__container {
    position: relative;
    padding: 10px 15px;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav-list__item {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 40px;
  line-height: 1.18;
}

@media screen and (min-width: 768px) {
  .nav-list__item {
    font-size: 14px;
    line-height: 1.14;
  }
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  color: var(--secondaryTextColor);
  -webkit-transition: var(--transitionColor);
  transition: var(--transitionColor);
}

@media screen and (min-width: 768px) {
  .nav-list__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.nav-list__link--active {
  color: var(--activeLinkColor);
}

@media screen and (min-width: 768px) {
  .nav-list__link--active::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

.nav-list__link:hover, .nav-list__link:focus {
  color: var(--activeLinkColor);
}

.auth-list {
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .auth-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .auth-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.auth-list__item {
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .auth-list__item {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-list__item + .auth-list__item {
    margin-top: 10px;
  }
}

.auth-list__icon {
  margin-right: 10px;
}

.auth-list__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primaryTextColor);
  -webkit-transition: var(--transitionColor);
  transition: var(--transitionColor);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-list__link {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: var(--activeLinkColor);
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-color: transparent;
}

.menu-button .icon-menu-close {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button.is-open .icon-menu-close {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 48px 40px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.filters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filters__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filters__list {
    margin-bottom: 50px;
  }
}

.filters__item {
  margin-bottom: 15px;
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filters__button {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondaryTextColor);
  background-color: #f5f4fa;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: var(--transitionColor), var(--transitionBg), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: var(--transitionColor), var(--transitionBg), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: var(--transitionColor), var(--transitionBg), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: var(--transitionColor), var(--transitionBg), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__button:hover, .filters__button:focus {
  color: var(--whiteTextColor);
  background-color: var(--activeLinkColor);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .cards__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 768px) {
  .cards__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .cards__item {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
        flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.cards__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards__link:hover, .cards__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards__thumb {
  position: relative;
  overflow: hidden;
}

.cards__overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--whiteTextColor);
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
}

.cards__item:hover .cards__overlay,
.cards__item:focus .cards__overlay {
  opacity: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.cards__footer {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.cards__subtitle {
  margin-bottom: 4px;
  text-align: left;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cards__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primaryTextColor);
}

abbr[title='label tag'] {
  text-decoration: none;
}

.footer {
  background-color: #2f303a;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer-container {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .footer__wrapper {
    margin-right: 70px;
  }
}

.footer__address {
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .footer__address {
    margin-bottom: 60px;
  }
}

.footer__list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer__item {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .footer__item {
    margin-bottom: 9px;
  }
}

.footer__item--last {
  margin-bottom: 0;
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
}

.footer__link--gmaps {
  color: var(--whiteTextColor);
}

.footer__subtitle {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--whiteTextColor);
}

@media screen and (max-width: 1199px) {
  .form-signup {
    margin-top: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .form-signup {
    margin-left: auto;
  }
}

.form-signup__subtitle {
  display: block;
}

.form-signup__input {
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form-signup__input {
    display: block;
    width: 450px;
    margin: 0 auto 20px;
  }
}

@media screen and (min-width: 1200px) {
  .form-signup__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.form-signup__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-signup__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-signup__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-signup__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-signup__input:not(:placeholder-shown) {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-signup__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 28px 10px 29px;
}

.form-signup__icon {
  margin-left: 10px;
}
/*# sourceMappingURL=portfolio.css.map */