:root {
  --primaryFont: 'Roboto', sans-serif;
  --secondaryFont: 'Raleway', sans-serif;

  --activeLinkColor: #2196f3;
  --primaryTextColor: #757575;
  --secondaryTextColor: #212121;
  --whiteTextColor: #ffffff;

  --transitionColor: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transitionBg: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--primaryFont);
  letter-spacing: 0.03em;
  color: var(--primaryTextColor);
  background-color: var(--whiteTextColor);

  &.modal-open {
    overflow: hidden;
  }
}
