.clients {
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -30px;
    margin-top: -30px;
  }

  &__item {
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    flex-basis: calc(100% / 2 - 30px);

    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 3 - 30px);
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 6 - 30px);
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    color: #afb1b8;

    transition: var(--transitionColor),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    border: 1px solid #afb1b8;
    border-radius: 4px;

    &:hover,
    &:focus {
      color: var(--activeLinkColor);

      border-color: var(--activeLinkColor);
    }
  }
}
