.filters {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
      justify-content: center;
      margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
    }
  }

  &__item {
    margin-bottom: 15px;
  }

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__button {
    padding: 6px 22px;

    font-weight: 500;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondaryTextColor);
    background-color: #f5f4fa;
    box-shadow: none;

    transition: var(--transitionColor), var(--transitionBg),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--whiteTextColor);

      background-color: var(--activeLinkColor);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
    }
  }
}

.cards {
  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin-left: -30px;
      margin-top: -30px;
    }
  }

  &__item {
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 2 * 30px) / 2);
      margin-left: 30px;
      margin-top: 30px;
      margin-bottom: 0;
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 3 * 30px) / 3);
    }
  }

  &__link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__thumb {
    position: relative;
    overflow: hidden;
  }

  &__overlay {
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 63px 24px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: var(--whiteTextColor);
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;

    .cards__item:hover &,
    .cards__item:focus & {
      opacity: 1;
      transform: translateY(-100%);
    }
  }

  &__footer {
    padding: 20px 24px;

    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
  }

  &__subtitle {
    margin-bottom: 4px;

    text-align: left;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: var(--primaryTextColor);
  }
}

abbr[title='label tag'] {
  text-decoration: none;
}
