.team {
  background-color: #f5f4fa;

  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin-left: -30px;
      margin-top: -30px;
    }

    @media screen and (min-width: 1200px) {
      margin-left: -30px;
    }
  }

  &__item {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - 30px);
      margin-left: 30px;
      margin-top: 30px;
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 4 - 30px);
    }
  }

  &__subtitle {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--secondaryTextColor);
  }

  &__desc {
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--primaryTextColor);
  }

  &__meta {
    padding: 30px 32px;
  }
}
